@import url(https://fonts.googleapis.com/css2?family=Roboto);

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

h1, h2 { 
    margin: 0; 
    text-shadow: 0 2px rgba(0,0,0,.5);
}

a {
    color: #fff;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: table;
    z-index: -1;
}
  
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(33, 33, 33, 0.75);
}
  
.header_bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../images/background.png") center center no-repeat;
    background-size: cover;
}
  
.header__content {
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    z-index: 2;
}

.content { 
    margin-top: 100vh;
    height: 100vh;
    padding: 50px;
    background: #212121;
}

.container {
    margin: 0 auto;
    width: 800px;
}

.nav {
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    background: rgba(33, 33, 33, 0.9);
}

.nav__item {
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #bdbdbd;
}

.nav__item_active {
    color: #fff;
}
.subtitle{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
